@layer reset, base, tokens, recipes, utilities;

:root {
  --dc-primary-color: var(--colors-color-palette-default);
  --dc-on-primary-color: var(--colors-color-palette-fg);
  --dc-surface-color: var(--colors-bg-default);
  --dc-on-surface-color: var(--colors-fg-default);
}

/* TODO: remove once highlight bug of ParkUI is fixed */
*::selection {
  background: var(--colors-color-palette-default);
}

.skeleton {
  /* Else will add extra ~1px */
  line-height: 0 !important;
}
